
*{
    margin: 0;
    padding: 0;
}
div{width: 400px;
    margin: 0 auto;
}


.one{
background:#00acc1;
height:40px;    
}
.two{
background:#8d6e63;
height:40px;
clear:left;
}
.three{
background:#fff176;
width:120px;
height:150px;
float:left;
}
.four{
background:#9ccc65;
width:160px;
height:150px;
float:left;
}
.five{
background:#fff176;
height:150px;
width:120px;
float:left;
}

.six{
background:#00acc1;
height:40px;
clear:left;
}
.button{
    height: 40px;
    width: 250px;
    background-color: transparent;
    padding-left: 150px;
    padding-top: 20px;
    margin: 0 auto;

}
.button a{
    
    font-size:30px;
    text-decoration: none;
    color: rgb(149, 159, 175);
    font-weight: bold;
    text-align: center;
    }
.button a:hover{font-size: 31px;
        color: gray;}