*{
    margin: 0;
    padding: 0;
}
div{width: 400px;
    height: 300px;
    margin:0 auto;
    margin-top: 100px 60px;
}


.one{
    background:#00acc1;
    width:100px;
    
    float:left;
    
    
}
.two{
    background:#9ccc65;
    
}
.button{
    height: 40px;
    width: 250px;
    background-color: transparent;
    padding-left: 150px;
    padding-top: 20px;
    margin: 0 auto;

}
.button a{
    
    font-size:30px;
    text-decoration: none;
    color: rgb(149, 159, 175);
    font-weight: bold;
    text-align: center;
    }
.button a:hover{font-size: 31px;
        color: gray;}
